name: Metrics

on:
  schedule:
    - cron: "0 */12 * * *"  # Every 12 hours
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: JoshDev
          template: classic
          base: header, activity, community, repositories
          config_timezone: America/New_York
          filename: metrics.svg

          # Activity
          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_days: 14
          plugin_activity_filter: all

          # Languages
          plugin_languages: yes
          plugin_languages_ignored: html, css, scss
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: percentage

          # Habits
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14
          plugin_habits_charts: yes
